/* You can add global styles to this file, and also import other style files */
@import 'variables';
html, body, p{
    color: $main-text-color;
};

//changing color according to category

.apartment {
    color: red;
}

.condo {
    color: blue;
}

.house {
    color : green;
}